<div class="bg-info">

  <h1 class="text-center text-light">Movies Component</h1>

  <div class="container">

    <ul class="list-unstyled">

      <li class="card card-body mb-3 text-info bg-dark" *ngFor="let movie of movies">

        <div class="row">

          <div class="col-sm-4">

            <img [src]="movie.img" alt="" class="img-fluid">

          </div>

           <div class="col-sm-8">

            <h1 class="text-danger">{{movie.title}}</h1>
            <br>
            <h3>Actors:</h3>
            <p class="text-danger">{{movie.actors}}</p>
            <h3>Director:</h3>
            <p class="text-danger">{{movie.director}}</p>
            <br>

            <ul class="list-unstyled list-group text-dark">

              <li class="list-group-item bg-info text-light"><strong>Year Released:</strong> {{movie.yearReleased}}</li>
              <li class="list-group-item bg-info text-light"><strong>Genre:</strong> {{movie.genre}}</li>
              <li class="list-group-item" [class.d-none]="movie.rating === 'PG-13'" [class.bg-success]="movie.rating === 'PG'"><strong>Rating:</strong> {{movie.rating}} – Parental Guidance Suggested</li>
              <li class="list-group-item" [class.bg-warning]="movie.rating === 'PG-13'" [class.d-none]="movie.rating === 'PG'"><strong>Rating:</strong> {{movie.rating}} – Parents Strongly Cautioned</li>

              <br>

              <h3 *ngIf="movie.awards[0]" class="text-info">Awards:</h3>

              <ul class="list-group" *ngFor="let award of movie.awards">

                <li class="list-group-item bg-info text-light">{{award}}</li>

              </ul>

            </ul>

          </div>

        </div>

      </li>

    </ul>

  </div>

</div>
