<h1>String Interpolation</h1>

<!--way to bind our data from the typescript (logic)
SYNTAX
{{expression}}
-->

{{"Hello from string-interpolation Component!"}}

{{(5 * 5)}}

<h3>{{"Delta Cohort Rocks!"}}</h3>

<p>{{ 5 * 100 }}</p>

<!--BINDING PROPERTIES WITH TEMPLATE USING STRING INTERPOLATION-->

<h3>Full Name: {{firstName}} {{lastName}}</h3>
<p>Age: {{age}}</p>

<h3>{{sayHello()}}</h3>
