<h1 class="text-center">Comments Component</h1>

<app-comment-form
  [currentComment]="selectedComment"
  [isEdit]="commentEdit"
  (updatedComment)="onUpdatedComment($event)"
  (newComment)="onSubmitComment($event)"></app-comment-form>

<div class="container">

  <div class="row">

    <div class="card card-body col-12" *ngFor = "let comment of comments">

      <p class="card-text"><strong>Subject: </strong>{{comment.name}}</p>

      <p class="card-text"><strong>Comment: </strong>{{comment.body}}</p>

      <p class="card-text"><strong>Posted by: </strong><i>{{comment.email}}</i></p>

      <div class="row">

        <div class="col-1">

          <button (click)="editComment(comment)" class="btn btn-info btn-sm">

            <i class="fa fa-pencil"></i>

          </button>

        </div>

        <div class="col-1">

          <button (click)="removeComment(comment)" class="btn btn-danger btn-sm">

            <i class="fa fa-remove"></i>

          </button>

        </div>

      </div>

    </div>

  </div>

</div>
