<!--Requirement 3: Create a new component: comment-form-->

<h1 class = "text-center">Add a Comment</h1>

<!--Requirement 6a: Create a form-->

<div class="card card-body mb-3">

  <form>

    <div class="form-group">

      <label>Subject</label>

      <input type="text" class="form-control" [(ngModel)]="currentComment.name" name="name" #name>

      <label>Posted By</label>

      <input type="text" class="form-control" [(ngModel)]="currentComment.email" name="email" #email>

      <label>Comment</label>

      <input type="text" class="form-control" [(ngModel)]="currentComment.body" name="body" #body>

      <input type="hidden" [(ngModel)]="currentComment.id" name="id">

    </div>

    <button
            *ngIf="!isEdit"
            (click)="addComment(name.value, email.value, body.value)"
            class="btn btn-success btn-block">Submit Comment</button>

    <button
            *ngIf="isEdit"
            (click)="updateComment()"
            class="btn btn-warning btn-block">Update Comment</button>

  </form>

</div>
