<h1>Athlete Component</h1>

<!--Structural Directives
*ngFor, *ngIf, *ngSwitch
They are attributes inside elements
-->

<!--<h3>Athletes' Names</h3>-->

<!--Use our *ngFor to loop through array this.athletes-->

<!--<ul>-->
<!--  <li *ngFor="let a of athletes">-->
<!--    {{a.name}}-->
<!--  </li>-->
<!--</ul>-->

<!--*ngFor Breakdown

"let" defines the variable
"a" the name of our variable
athletes pertains to "this.athlete" array
a.name calls name property of the object

-->

<!--<h3>Athletes' Teams</h3>-->

<!--<ul>-->
<!--  <li *ngFor="let a of athletes">-->
<!--    {{a.team}}-->
<!--  </li>-->
<!--</ul>-->

<ul>
  <li *ngFor="let a of athletes">
    <h3>{{a.name}}</h3>
    <ul>
      <li>Team: {{a.team}}</li>
      <li>Jersey No: {{a.jerseyNo}}</li>
    </ul>
    <ul *ngIf="a.stillPlaying === true">
      <li>{{showStatus()}}</li>
    </ul>
    <ul *ngIf="a.stillPlaying !== true">
      <li>This athlete is retired.</li>
    </ul>
  </li>
</ul>
