<div>

<h1 *ngIf="this.message === true">VIP Members loading...</h1>

<div *ngIf="this.message !== true">

  <h1>VIP List</h1>
  <ul>
    <li *ngFor="let m of members">
      <h2>{{m.firstName}} {{m.lastName}}</h2>
        <ul>
          <li>
            <p>Username: {{m.username}}</p>
          </li>
          <li>Member No: {{m.memberNo}}</li>
        </ul>
    </li>
  </ul>
</div>

<div *ngIf="this.message !== true">

  <div *ngIf="members.length > 1">
    <h3>There are {{members.length}} members in the VIP.</h3>
  </div>

  <div *ngIf="members.length === 1">
    <h3>There is only 1 member in the VIP.</h3>
  </div>

</div>

</div>
