div {
  background-color: yellow;
}

h1 {
  text-align: center;
  background-color: lightgreen;
  color: blue;
}

h2 {

  text-decoration: underline;
}

p{
  color: blue;
}

h3 {
  background-color: lightgreen;
  color: blue;
  text-align: center;
}

ul {
  list-style: none;
}
