<h1>Posts GET Request</h1>

<!-- we need to pass our selectedPost property to the form as input-->

<app-post-form [currentPost]="selectedPost" [isEditing]="postEdit"
               (updatedPost)="onUpdatedPost($event)"
               (newPost)="onSubmitPost($event)"></app-post-form>

<div class="container">

  <div class="row">

<!--    using *ngFor to loop through the array of posts-->

    <div class="card card-body col-12" *ngFor = "let post of posts">

      <h5 class="card-title">{{post.title}}</h5>

      <p class="card-text">{{post.body}}</p>

        <div class="row">

          <div class="col-1">

              <button (click)="editPost(post)" class="btn btn-info btn-sm">

                <i class="fa fa-pencil"></i>

              </button>

        </div>

        <div class="col-1">

            <button (click)="removePost(post)" class="btn btn-danger btn-sm">

              <i class="fa fa-remove"></i>

            </button>

        </div>

      </div>

    </div>

  </div>

</div>
