<!--<h3>Name: {{users[0].firstName}}{{users[0].lastName}}</h3>-->
<!--<h3>Age: {{users[0].age}}</h3>-->


<!--STRUCTURAL DIRECTIVES
*ngIf - creates conditional in our html
*ngFor - used to loop through and array
ADDS LOGIC TO OUR TEMPLATE
REQUIRES THE (*)
-->

<!--TODO: loop through the users array-->

<ul>
  <li *ngFor="let user of users">
    <h3>Name: {{user.firstName}} {{user.lastName}}</h3>
    <p>Age: {{user.age}}</p>
  </li>

</ul>
