<h1>Event Component</h1>


<!--button that connects with toggleForm()-->

<button (click)="toggleForm()" class="btn btn-success">Add Character</button>

<!--mouse events buttons-->

<button (click)="triggerEvent($event)">Click Event</button>

<button (mouseover)="triggerEvent($event)">MouseOver Event</button>

<button (mouseout)="triggerEvent($event)">MouseOut Event</button>

<button (mousedown)="triggerEvent($event)">MouseDown Event</button>

<button (mouseup)="triggerEvent($event)">MouseUp Event</button>

<button (dblclick)="triggerEvent($event)">DoubleClick Event</button>

<!--Syntax for event binding: (typeOfEvent)="expression"-->

<!--create a form-->

<div class="card card-body" *ngIf="showForm">

  <form>

    <div class="form-group">

<!--      keyboard events-->

      <input (keydown)="triggerEvent($event)" type="text" class="form-control">
      <input (keyup)="triggerEvent($event)" type="text" class="form-control">
      <input (keypress)="triggerEvent($event)" type="text" class="form-control">
      <input (focus)="triggerEvent($event)" type="text" class="form-control">
      <input (blur)="triggerEvent($event)" type="text" class="form-control">

      <label>First Name</label>
      <input type="text" class="form-control">

      <label>Last Name</label>
      <input type="text" class="form-control">

    </div>

  </form>

</div>
