
<h1 class="text-center">Forms Component</h1>

<div class="container">

  <button [disabled]="!enableAddCharacter" class="btn btn-block mb-3" [ngClass]="currentClasses">Add New Person</button>

  <!--  ngClass - to bind one or more css classes to any element-->

  <div class="card card-body mt-3">

    <form #characterForm="ngForm" (ngSubmit)="onSubmit(characterForm)">

<!--the variable character form in our template will point to our instance of the
 ngForm directive. Let's call functions as if they were instances of a form group. -->

      <div class="form-group">

        <label>Persona</label>
        <input
          type="text"
          class="form-control"
          name="persona"
          [(ngModel)]="character.persona"
          [ngClass]="{'is-invalid': characterPersona.errors && characterPersona.touched}"
          #characterPersona="ngModel"
          required
          minlength="3"
        >
<!--        created a special input #characterPersona="ngModel"
(shortcut for characterForm.persona)

-->
        <div [hidden]="!characterPersona.errors?.required" class="invalid-feedback">
          Persona Name Required
        </div>

        <div [hidden]="!characterPersona.errors?.minlength" class="invalid-feedback">
          Must be at least 3 characters
        </div>

        <label>First Name</label>

        <input
          type="text"
          class="form-control"
          name="firstName"
          [(ngModel)]="character.firstName"
          [ngClass]="{'is-invalid': characterFirstName.errors && characterFirstName.touched}"
          #characterFirstName="ngModel"
          required
          minlength="2"
        >
        <div [hidden]="!characterFirstName.errors?.required" class="invalid-feedback">
          First Name Required
        </div>

        <div [hidden]="!characterFirstName.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>

        <label>Last Name</label>

        <input
          type="text"
          name="lastName"
          class="form-control"
          [(ngModel)]="character.lastName"
          [ngClass]="{'is-invalid': characterLastName.errors && characterLastName.touched}"
          #characterLastName="ngModel"
          required
          minlength="2"
        >
          <div [hidden]="!characterLastName.errors?.required" class="invalid-feedback">
            First Name Required
          </div>

          <div [hidden]="!characterLastName.errors?.minlength" class="invalid-feedback">
            Must be at least 2 characters
          </div>

        <label>Age</label>

        <input type="number" [(ngModel)]="character.age" name="age" class="form-control">

        <label>Address Street</label>

        <input type="text" [(ngModel)]="character.address.street" name="address street" class="form-control">

        <label>City</label>

        <input type="text" [(ngModel)]="character.address.city" name="city" class="form-control">

        <label>State</label>

        <input type="text" [(ngModel)]="character.address.state" name="state" class="form-control">

      </div>

      <!--      button to submit-->

<!--      <button (click)="addCharacter()" class="btn btn-dark">Add Character</button>-->
      <button
        [disabled]="!characterForm.form.valid"
        class="btn btn-dark">
        Add Character
      </button>

    </form>

  </div>

  <ul class="list-unstyled">

    <li class="card card-body mb-3" *ngFor="let character of characters">

      <div class="row">

        <div class="col-sm-4">

          <!--BINDING OUR IMAGE-->

          <img [src]="character.img" alt="" class="img-fluid">

        </div>

        <div class="col-sm-8">

          <h1 [ngStyle]="currentStyle">

            {{character.persona}}

            <!--            event binding example-->

            <button (click)="toggleInfo(character)" class="btn btn-outline-dark btn-sm ml-3">

              <i [ngClass]="character.hide ? 'fa fa-minus' : 'fa fa-plus'"></i>

              <!--              ? : Ternary operator from ES6 - shorthand for If Then Else-->
              <!--              condition ? run1 : run2-->

            </button>

          </h1>

          <h3 [ngStyle]="currentStyle">{{character.firstName}} {{character.lastName}}</h3>

          <ul *ngIf="character.hide" class="list-group">

            <li class="list-group-item">Age: {{character.age}}</li>
            <li class="list-group-item">Address: {{character.address.street}} {{character.address.city}} {{character.address.state}}</li>
            <li *ngIf="character.balance" class="list-group-item">Balance: {{character.balance | currency: "USD"}}</li>
            <li class="list-group-item">Member Since: {{character.memberSince | date}}</li>

          </ul>

        </div>

      </div>

    </li>

  </ul>

</div>

