<!--<h1>Hello from Angular</h1>-->
<!--<p>Delta Cohort</p>-->
<!--<p>Today is Angular</p>-->

<!--<app-user></app-user>-->
<!--<app-fruit></app-fruit>-->
<!--<app-hello></app-hello>-->
<!--<app-travel></app-travel>-->
<!--<app-delta></app-delta>-->
<!--<app-charlie></app-charlie>-->
<!--<app-weather></app-weather>-->
<!--<app-math></app-math>-->
<!--<app-string-interpolation></app-string-interpolation>-->
<!--<app-structural-directives></app-structural-directives>-->
<!--<app-directives></app-directives>-->
<!--<app-vip></app-vip>-->
<!--<app-binding></app-binding>-->
<!--<app-movies></app-movies>-->
<!--<app-events></app-events>-->
<!--<app-ngmodel></app-ngmodel>-->
<!--<app-forms></app-forms>-->
<!--<app-post-http-client></app-post-http-client>-->
<!--<app-comments></app-comments>-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
