<h3>Add a Post</h3>
<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" [(ngModel)]="currentPost.title" name="title" #title>

      <label>Body</label>
      <input type="text" class="form-control" [(ngModel)]="currentPost.body" name="body" #body>

      <input type="hidden" [(ngModel)]="currentPost.id" name="id">

    </div>
    <button
      *ngIf="!isEditing"
      (click)="addPost(title.value, body.value)"
      class="btn btn-success btn-block">Submit Post</button>

    <button
      *ngIf="isEditing"
      (click)="updatePost()"
      class="btn btn-warning btn-block">Update Post</button>

  </form>
</div>
