<div>

<h1>Math Operations</h1>

<h3>Sum: {{num1}} + {{num2}} = {{sum()}}</h3>

<h3>Difference: {{num1}} - {{num2}} = {{difference()}}</h3>

<h3>Product: {{num1}} * {{num2}} = {{product()}}</h3>

<h3>Quotient: {{num1}} / {{num2}} = {{quotient()}}</h3>

</div>
